body{
    margin: 0;
    padding: 0;
    font-family: sans-serif, verdana;

}
#header{
    background-color: rgb(230, 230, 230);
    /* background-color: rgb(192, 0, 0);*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin-top: 0;
    margin: 0;
    border: 1px solid rgb(179, 179, 179);

    
}
#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#header li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    
   
}
#header li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
  

}
#header a:hover{
    background-color: rgb(255, 202, 167);
    font-weight: bold;
    
}


.innpakning{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 197, 197);
    margin: 0;
}


.alternativer{
    width: 50%;
    padding:50px;
    text-align: center;
    color: rgb(77, 77, 77);
    
    
}
.alternativer a{
    color: rgb(77, 77, 77);
    text-decoration: none;
}
footer{
    background-color: rgb(155, 155, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    color:    white;
    font-weight: bold;
    height: 100%;
    margin: 0;
    padding:0;
    bottom: 0;

}
.alternativer a:hover{
    color: black;
    
    

}
#grammarPak{
    margin-left: 100px;
    margin-top: 100px;
}
#chinesePak{
    margin-left: 100px;
    margin-top: 100px;
}
#lantern {
    height: 100%;
    margin-left: 20px;

}
#introduction{
    display: flex;
   
    padding-left: 100px;
    padding-top:100px;
   

}   
#introTekst{
    width: 50%;
    
}
#introTekst p{
    margin-top: 50px;
}
#sakura{
    width: 350px;
    height: 350px ;
    padding-left: 200px;
    margin: 0;

}
#mountain{
    width: 50%;

}

/* lesson1*/
#lesson1Pakning h1{
    text-align: center;
    margin-top: 50px;
}
#lesson1Tekst{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    padding-top: 50px ;
    padding-left: 50px ;
    padding-right: 50px;
}
#tekst1Innpakning{
    display: flex;
    flex: none;
}
#popUp{
    background-color: black;
    padding: 8%;
    margin: 50px;
    width: 10%;
    color: white;

}
/* End of lesson1 code*/